@charset "utf-8";



/* CSS Document */

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #56b9e2;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #F68B0B;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#footer {
    background-color: #444;
    color: #aaa;
    width: 100%;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: .8em;
    text-align: center;
    text-transform: uppercase;
}



/* ====================== Header ====================== */

header {
    width: 100%;
    height: 7em;
    background-color: #252831;
    text-align: center;
    position: fixed;
    display: block;
    z-index: 1000;
}

header h1 {
    margin: auto;
    padding: .7vw 0;

}

header h1 a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: .8rem;
    text-transform: uppercase;

}



/* ====================== Navigation ====================== */

nav {
    padding: 1.5em 3em 0em 3em;
    z-index: 1500;
    position: fixed;
}

#breadcrumb {
    padding: 0em 0em 3em 3em;
    list-style: none;
    /* background-color: #eee;*/
    font-size: .3em;
    margin: 0;
    width: 100%;
    /*text-align: center;*/
    /*width: calc(50% - 80px);*/
}




/* Display list items side by side */

#breadcrumb li {
    display: inline;
}




/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}




/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #E7CB1B;
    text-decoration: none;
}




/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}




/* ====================== Map / Nonmap====================== */

#map {
    height: 40em;
    width: 100%;
    background-color: #ccc;
    z-index: 100;
}

#map-container {
    height: 100%;
    width: 100%;
    background-color: #ccc;
    z-index: 0;
}

#nonmap-container {
    height: 100%;
    width: 50%;
    background-color: #EFE;
    display: flex;
    flex-direction: column;
    align-items: left;
}



/* ====================== Restaurant Filtering ====================== */


.filter-options {
    display:flex;
    width: 100%;
    height: 100%;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3397DB;
    padding: 10px 0;
}

.filter-options h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    height: 2rem;
    letter-spacing: 0;
    margin: .5rem;
    padding: 0 .5rem;
    width: 10rem;
}


/* ====================== Restaurant Listing ====================== */

#restaurant {
    margin: .5em 0 .5em;
}

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 2vw 3vw 3vw;
    text-align: center;
}

#restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: 2vw;
    min-height: 380px;
    padding: 3vw 3vw 3vw;
    text-align: left;
    /*width: 270px;  --old */
    max-width: 350px;
    width: 80%;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
}

#restaurants-list li h1 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list li a {
    background-color: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}




/* ====================== Restaurant Details ====================== */

.inside #maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    /*position: absolute;*/
    /*width: 40%;*/
    align-content: center;
}

#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    width: 90%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    /*padding: 140px 40px 30px;*/
    /*  padding: 7em 3em 3em 3em;*/
    /*width: 85%;*/
    z-index: 1;
}

#reviews-container {
    padding: 3em 3em 0em 3em;
}

#restaurant-container {
    padding: 7em 3em 2em 3em;
}

#restaurant-container h1 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 3em;
    overflow: hidden;
    padding: .8em .8em .8em;
    /*position: relative;*/
    width: 85%;
}

#reviews-list li p {
    margin: 0 0 .9em;
}

#restaurant-hours td {
    color: #666;
}

.leaflet-pane {
  tabindex: -1;
}

.leaflet-control-container {
    position: absolute;
    top: 7em
}

.hidden {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

/*        RESPONSIVE CSS         */

@media screen and (max-width: 560px) {

h1 {
    font-size: .1rem;
}

nav {
    padding: 5.5em 3em 0em 3em;
    z-index: 1500;
}

header {
    height: 7em;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    margin: auto;
    padding: .7vw 0;

}

header h1 a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: .8rem;
    text-transform: uppercase;
}

.header-title {
  font-size: 1em;
}

.filter-options {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.filter-options h2 {
    font-size: 1.3rem;
}

/*  inside main content */
.inside #maincontent {
    background-color: #f3f3f3;
/*min-height: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    /*background: blue none repeat scroll 0 0;*/
    height: 50vw;
    /*position: fixed;*/
    right: 0;
    /*top: 80px;*/
    width: 100%;
    order: 1;
}

.inside #nonmap-container {
    order: 2;    
    height: 100%;
    width: 100%;
    background-color: #EFE;
    display: flex;
    flex-direction: column;
    align-items: left;
    display: block;
    padding: 50vw 0 0;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
/*display: block;*/
}

.inside #footer {
    bottom: 0;
    /*position: absolute;*/
    /*width: 40%;*/
    align-content: center;
}

}

@media screen and (min-width: 550px) {

#restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

  #restaurants-list li {
    /*order: 1;*/
    width: 100%;
    flex: 0 50%; 
}


}

/*
@media screen and (min-width: 769px) {
  #project1 {
    order: 1;
    width: 33%;
  }
  #project2 {
    order: 2;
    width: 33%;
  }
  #project3 {
    order: 3;
    width: 33%;
  }
  .header-title {
    font-size: 2em;
  }
}


@media screen and (min-width: 991px) {
  main, .header, .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .header-title {
    font-size: 2em;
  }
} */
